.mod-accordion {

	.item {
		margin: 0 0 10px;

		.accordion-header {
			line-height: 0;
			button {
				display: block;
				padding: 25px 15px;
				background: url(../img/accordion_title.svg);
				background-size: cover;
				color: $dark;
				text-decoration: none;
				h5 {
					margin: 0;
				}
				&:before {
					position: absolute;
					right: 20px;
					top: 20px;
					height: 30px;
					width: 50px;
					background-image: url(../img/icon_chevron.svg);
					content: '';
					z-index: 1;
					background-size: contain;
					background-repeat: no-repeat;
				}
	
				&:hover {
					box-shadow: none;
					color: $dark;
					cursor: pointer;
				}
				&[aria-expanded="true"]:before {
					transform: rotate(180deg);
				}
			}
		}

		.antwoord {
			padding: 10px 15px;
		}
	}
}

@include media-breakpoint-up(md) {
	.mod-accordion {
		.heading {
			i {
				top: 12px;
			}
		}

	}
}