.pb-content {
	padding: 80px 0;
}

@include media-breakpoint-down(md) {
	.pb-content {
		padding: 100px 0;
	}
}
	

@include media-breakpoint-up(lg) {
	.pb-content {
		padding: 120px 0;
	}
}

@include media-breakpoint-up(xl) {
	.pb-content {
		padding: 140px 0;
	}
}