.pb-icons {
	img {
		height: 120px;
		width: auto;
	}
	h3 {
		margin-top: 0;
	}
	a {
		color: $dark;
		transform: scale(1.0);
		display: inline-block;
		transition: .2s;
		&:hover {
			transform: scale(1.05);
		}
	}
}

@include media-breakpoint-up(lg) {
	.pb-icons {
		img {
			height: 150px;
			width: auto;
			margin-bottom: 20px;
		}
	}
}