.pb-logos {
	.logos {
		.logo {
			height: 120px;
			width: 100%;
			background-size: contain;
			background-repeat: no-repeat;
			background-position: center center;
		}
	}
}

@include media-breakpoint-up(md) {
	.pb-logos {
		.logos {
			padding: 30px 0;
		}
	}
}