.pb-verhalen {
	padding-top: 50px;
	padding-bottom: 30px;
	overflow: hidden;
	h2 {
		strong {
			color: #fff;
		}
	}
	.verhaal {
		color: $dark;
		transition: 0.2s $ease;
		transform: scale(1);
		&:hover {
			transform: scale(1.1);
		}
	}
	.card {
		.card-body {
			padding: 60px 20px 60px;
		}
	}
}

@include media-breakpoint-up(lg) {
	.pb-verhalen {
		overflow: visible;
		.card {
			.card-body {
				padding: 100px 80px 100px;
			}
		}
	}
}