.content-columns {
	margin: 0 auto;
	column-width: 16em;
	max-width: 1000px;
	column-gap: 30px;
	figure {
		width: 100% !important;
		margin-top: 20px;
		margin-bottom: 20px;
		break-inside: avoid-column;
		img {
			width: 100%;
			height: auto;
			margin-bottom: 10px;
		}
	}
	li {
		break-inside: avoid-column;
	}
	figcaption {
		font-weight: 700;
		font-style: italic;
		color: $orange;
		margin-bottom: 30px;
	}
}



.content-styling {
	.auteur {
		color: $orange;
		font-family: $font-family-alt;
		font-size: 25px;
		line-height: 28px;
		.afbeelding {
			width: 60px;
			height: 60px;
			background-size: cover;
			border-radius: 199px;
			margin-right: 15px;
		}
	}
	* + h2,
	* + h3,
	* + h4,
	* + h5,
	* + h6,
	* + img {
		@extend h4;
		margin-top: 3rem;
		margin-bottom: 1rem;
	}
	h5,h6 {
		margin-bottom: 8px;
	}
	h2,h3,h4,h5,h6 {
		font-size: 25px;
		line-height: 28px;
		font-weight: 400;
	}
	
	ul {
		list-style-type: none;
		padding-left: 2rem;
		li {
			position: relative;
			padding-left: 0;
			margin-left: 0;
			&:after {
				position: absolute;
				top: 10px;
				left: -1.9rem;
				width: 8px;
				height: 8px;
				content: '';
				background: $primary;
				border-radius: 30px;
			}
		}
	}
	
	img {
		max-width: 100%;
	}
	img.size-full {
		width: 100%;
		max-width: 100%;
		height: auto;
		margin: 0 0 10px 0;
	}
	
	blockquote {
		background: url(../img/line_blockquote.svg);
		background-repeat: repeat-y;
		break-inside: avoid-column;
		@extend h3;
		font-size: 37px !important;
		line-height: 37px !important;
		padding-left: 30px;
		color: $orange;
		strong, b {
			color: $dark;
		}
		margin-bottom: 3rem;
	}
}

@include media-breakpoint-up(lg) {
	.content-columns {
		max-width: 1400px;
		column-gap: 40px;
	}
}

@include media-breakpoint-up(xl) {
	.content-columns {
		max-width: 1500px;
		column-gap: 60px;
	}
}