body:not(.home) {
	footer {
		position: relative;
		&:after {
			content: '';
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			height: 20px;
			background: $dark;
			z-index: 2;
		}
	}
}
@include media-breakpoint-down(lg) {
	body.home {
		footer {
			position: relative;
			&:after {
				content: '';
				position: absolute;
				bottom: 0;
				left: 0;
				right: 0;
				height: 30px;
				background: $dark;
				z-index: 2;
			}
		}
	}
}
footer {
	overflow: hidden;
	.footer {
		margin-top: 120px;
		padding: 20px;
		position: relative;
		.taalswitcher {
			display: inline-flex;
		}
		.logowit {
			width: 70px;
			height: 70px;
			background-size: contain;
			background-repeat: no-repeat;
			background-position: center center;
			display: inline-block;
			margin: 0 10px;
		}
	}
	.footeralt {
		padding: 20px;
		margin-top: -20px;
		position: relative;
		.logowit {
			width: 150px;
			height: 120px;
			background-size: contain;
			background-repeat: no-repeat;
			background-position: center center;
			display: inline-block;
			margin: 30px 20px 20px 0;
		}
	}
	.subfooter {
		padding-bottom: 20px;
		ul {
			display: inline;
			li {
				display: inline-block;
				position: relative;
				&:after {
					content: '';
					position: absolute;
					right: -14px;
					top: 5px;
					bottom: 5px;
					background: #fff;
					width: 1px;
				}
				a {
					color: $orange;
					padding: 0 0 0 20px;
					font-size: 22px;
					&:hover {
						color: #fff;
					}
				}
				&:first-child {
					a {
						padding: 0 0 0 10px;
					}
				}
				&:last-child:after {
					display: none;
				}
			}
		}
	}
	.logos {
		padding: 30px 0;
		.logo {
			height: 120px;
			width: 100%;
			background-size: contain;
			background-repeat: no-repeat;
			background-position: center center;
		}
	}
}

@include media-breakpoint-up(md) {
	footer {
		.footer {
			padding: 30px;
			.logowit {
				width: 105px;
				height: 105px;
			}
			.taalswitcher {
				margin: 0 auto;
			}
		}
	}
}

@include media-breakpoint-up(lg) {
	footer {
		.footer {
			padding: 50px;
			margin-top: 160px;
		}
	}
}