@include media-breakpoint-down(sm) {
	section.searchlead {
		padding: 40px 0;
		margin-bottom: 20px;
	}
}

.searchforminput {
	position: relative;
	input[type=text] {
		font-family: $font-family-script;
		font-size: 26px;
		padding: 4px 20px 0 20px;
	}
	.searcharrow {
		position: absolute;
		top: 23px;
		right: 20px;
		height: 30px;
		width: 50px;
		background: url(../img/icon_arrow_orange.svg);
		background-size: contain;
		z-index: 1;
		border: 0;
		overflow: hidden;
		text-indent: -1000px;
		background-repeat: no-repeat;
	}
}