body {
  visibility: hidden;
}

section {
	padding: 80px 0;
	position: relative;
}

.rafelrand {
	position: relative;
	&:after {
		background-image: url(../img/rafelrand_white.svg);
		background-repeat: no-repeat;
		background-size: cover;
		content: '';
		position: absolute;
		left: 0;
		right: 0;
		height: 30px;
	}
	&.dark:after {
		background-image: url(../img/rafelrand_dark.svg);
	}
	&.orange:after {
		background-image: url(../img/rafelrand_orange.svg);
	}
	&.bottom {
		&:after {
			background-position: bottom center;
			transform: rotate(180deg);
			bottom: -30px;
		}
		&.inverse:after {
			transform: rotate(0);
			bottom: -10px;
		}
	}
	&.top {	
		&:after {
			background-position: top center;
			transform: rotate(0);
			top: -10px;
		}
		&.inverse:after {
			transform: rotate(180deg);
		}
	}
}

.section_icon {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	height: 100px;
	width: 100px;
	z-index: 2;
	transition: .2s $ease;
	img {
		height: 100px;
		width: 100px;
	}
	&.top {
		top: -30px;
	}
	&.bottom {
		bottom: -50px;
		&.inverse {
			bottom: -40px;	
		}
	}
	&[href]:hover {
		transform: translateX(-50%) scale(1.05);
	}
}

section.bg-transparent:not(.pb-verhalen) + section.bg-transparent:not(.full-size),
section.bg-white:not(.full-size) + section.bg-white:not(.full-size),
section.bg-dark:not(.full-size) + section.bg-dark:not(.full-size),
section.bg-brand:not(.full-size) + section.bg-brand:not(.full-size),
section.bg-action:not(.full-size) + section.bg-action:not(.full-size),
section.bg-greylight:not(.full-size) + section.bg-greylight:not(.full-size) {
	padding-top: 0 !important;
	margin-top: -20px;
}

@include media-breakpoint-up(lg) {
	.section_icon {
		height: 150px;
		width: 150px;
		img {
			height: 150px;
			width: 150px;
		}
		&.top {
			top: -60px;
		}
		&.bottom {
			bottom: -90px;
			&.inverse {
				bottom: -60px;	
			}
		}
	}
}

@include media-breakpoint-down(md) {
	section {
		padding: 80px 0;
	}
}
	

@include media-breakpoint-up(lg) {
	section {
		padding: 90px 0;
	}
}

@include media-breakpoint-up(xl) {
	section {
		padding: 100px 0;
	}
}