<form role="search" method="get" id="searchform" action="{{site.url}}">
	<div class="searchforminput">
		<input class="form-control form-white" type="text" value="{{ searchquery }}" name="s" id="s" placeholder="{{ options.search_form_placeholder }}">
		<input type="submit" id="searchsubmit" value="Search" class="searcharrow">
	</div>
</form>