<a href="{{ item.link }}" class="tease tease-verhaal">
	<div class="row">
		<div class="col-sm-10 offset-sm-1">
			<div class="bg-cover bg-rounded ratio-1x1 mb-4 mb-lg-4" style="background-image: url({{ Image(item.thumbnail).src }})"></div>
			<h4 class="mt-0 mb-0 font-script text-center">{{ item.title }}</h4>
		</div>
	</div>
</a>