<section id="{{ sectionno }}" class="section pb-content bg-transparent">
	<div class="container-fluid mt-3 mb-3 mt-md-5 mb-md-5">
		<div class="row">
			<div class="col-md-10 col-lg-8 offset-md-1 offset-lg-2">
				<div class="text-center">
					<h2 class="mt-5 mb-5"> {{ item.titel }} </h2>
				</div>
			</div>
		</div>
		<div class="content-columns content-styling">
			{{ item.tekst }}
		</div>
	</div>
</section> 