<ul class="shareonsocial">
	<li class="d-none d-sm-inline"> Spread the word </li>
  <li>
	<a href="https://www.facebook.com/sharer/sharer.php?u={{post.link}}" target="_blank" aria-label="facebook" class="facebook"></a>
  </li>
  <li>
	<a href="https://twitter.com/share?url={{post.link}}" target="_blank" aria-label="twitter" class="twitter"></a>
  </li>
  <li>
	<a href="https://www.linkedin.com/shareArticle?url={{post.link}}" target="_blank" aria-label="linkedin" class="linkedin"></a>
  </li>
</ul>